html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Testuaren letra tipoa */
    background color: ;:  rgba(14, 24, 66, 1) 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}