html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Testuaren letra tipoa */
    background color: ;:  rgba(14, 24, 66, 1) 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.sare_sozialak {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 12px;
}

.sare_sozialak img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    filter: grayscale(100%); 
    transition: transform 0.4s, filter 0.4s;
}

.sare_sozialak img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}footer {
    width: 100%;
    background: rgba(212, 9, 9, 0.5);
    color: white;
    padding: 20px;
    border-top: 1px solid rgba(244, 244, 244, 0.921); 
    text-align: center;
    box-sizing: border-box;
    margin-top: auto;
}


.footer_nabigazioa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
    border-bottom: none;
}

.footer_nabigazioa .logoa_argazkia {
    width: 100px;
    height: auto;
}

.footer_nabigazioa .ZineUsurbil {
    margin-left: 0;
}

.footer_nabigazioa .nabigazio_elementuak {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    gap: 16px;
    align-items: center;
}